.contain {
    width: 100%;
    @apply px-4;
    @apply laptop:px-6%;
}

.story {
	background:white;
	padding:10px 5px;
}
.story .story-item {
	height: 250px;
    border-radius: 15px;
    background: #3e7fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    position:relative;
    font-size:13px;	
    margin-left: 12px;
    margin-right: 12px
}  
/* .story .story-item:before {
   content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: .2;
    border-radius: 15px;
  }  */
.story .story-item span {
	position:absolute;bottom:0;
	padding:10px 5px; 
  font-family: sans-serif;
}
.story .owl-stage {
    right: 15px;
}

.rounded {
  background-image:url(https://any.ge/assets/images/favicon-32x32.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width:32px;
  height:32px;
  margin:5px;
  position:absolute;
  border-radius:50%;
 border:2px solid #3877e1;
}

.story-placeholder {
    opacity: 0 !important
}